.DS_Store
application/config/database.php
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
images/
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
